[core]
	excludesfile = /Users/wirtzdan/.gitignore_global
[user]
	name = Daniel Wirtz
	email = danielwirtzx@gmail.com
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
